@model Portal.Models.ViewModels.LaboratoryModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View Result</title>
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/fontawesome/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
</head>
<body class="background">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <center>
                    <div class="mobile-wrapper">
                        <div class="form-bottom">
                            <div class="form-box">
                                <span style="color:white;">Please provide your password</span>
                                <br /><br />
                                @Html.ValidationSummary(false)
                                <br />

                                @using (Html.BeginForm(new { returnUrl = ViewBag.returnUrl }))
                                {
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                            @Html.PasswordFor(a => a.password, new { @class = "form-control", @placeholder = "PASSWORD" })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <button class="btn btn-block regular-btn" type="submit">PROCEED</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </center>
                <div>
                    <br />
                    <center><a href="@Url.Action("LaboratoryResults", "Results")"><span class="subtext">Return to Laboratory Results</span></a></center>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
