@model Portal.Models.ViewModels.LaboratoryModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View Result</title>
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/fontawesome/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
</head>
<body class="background">
    <div class="container">
        <div class="row">
            <center>
                <img src="~/Images/logo.png" style="margin-top:80px;" />
            </center>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="form-box">
                    <center><span>PLEASE PROVIDE YOUR PASSWORD</span></center>
                    <br />
                    @Html.ValidationSummary(false)
                    <br />
                    @using (Html.BeginForm(new { returnUrl = ViewBag.returnUrl }))
                    {
                        @*<div class="form-group">
                            @Html.TextBoxFor(a => a.username, new { @class = "form-control", @placeholder = "USERNAME" })
                        </div>*@
                        <div>
                            @Html.PasswordFor(a => a.password, new { @class = "form-control", @placeholder = "PASSWORD" })
                        </div>
                        <br />
                        <div class="form-group">
                            <button class="btn btn-block btn-success" type="submit">PROCEED</button>
                        </div>
                    }
                </div>
                <div>
                    <br />
                    <center><a href="@Url.Action("LaboratoryResults", "Results")"><span class="subtext">Return to Laboratory Results</span></a></center>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
