<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/fontawesome/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/opensourcedll/animate/animate.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <script src="~/Scripts/jQuery/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>
    <script src="~/Content/opensourcedll/notify/bootstrap-notify.min.js"></script>
</head>

<body class="background">

    <div class="loader"></div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <center>
                    @RenderBody()
                </center>
            </div>
        </div>
    </div>
           
</body>
</html>

<script>
    jQuery(document).ready(function () {
        $(".loader").fadeOut("slow");
    });
</script>

